  .wrapper {
    width: 80vw;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .counter-container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b00;
    border-bottom: 1px solid #d09426;
  }
 .wrapper i {
    color: #f6c183e6;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 5em;
  }
  .counter-container span{
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 5em;
  }
  span.counter-text {
    color: #e0e0e0;
    font-size: 1rem;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .counter-container {
      height: 26vmin;
      width: 26vmin;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .counter-container {
      width: calc(50% - 40px);
      height: 35vmin;
      font-size: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .counter-container {
      width: 100%;
      height: 35vmin;
      font-size: 12px;
    }
  }