<!DOCTYPE html>
<html lang="en">

{% include "components/header.html" %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        {% include "components/navbar.html" %}

        <div class="page-banner">
            <h1>FAQ</h1>
        </div>
        <!-- Navbar & Hero End -->

        <!-- FAQ START HERE -->
        <div class="accordion-container">

            {% for faq in faqs %}
            <details>
                <summary>
                    <span class="accordion-title">{{ faq.question }}</span>
                    <span class="accordion-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6 9l6 6l6 -6" />
                        </svg>
                    </span>
                </summary>
                <div class="accordion-content">{{ faq.answer }}</div>
            </details>
            {% endfor %}
            <!-- <details>
              <summary>
                <span class="accordion-title">
                  What is dark matter?
                </span>
                <span class="accordion-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                  </svg></span>
              </summary>
              <div class="accordion-content">
                Dark matter is a form of matter that cannot be seen directly but can be inferred by its influence on galaxy formation and the speed of star rotation. It is believed to make up 27% of the total mass of the universe.
              </div>
            </details>
            <details>
              <summary>
                <span class="accordion-title">What is the Big Bang?</span>
                <span class="accordion-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                  </svg></span>
              </summary>
              <div class="accordion-content">The Big Bang is the event that marked the beginning of the universe, approximately 13.8 billion years ago. It is believed to have been a moment when the entire universe rapidly expanded from an infinitely dense and hot point.</div>
            </details>
            <details>
              <summary>
                <span class="accordion-title">What is dark energy?</span>
                <span class="accordion-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                  </svg></span>
              </summary>
              <div class="accordion-content">Dark energy is a form of energy that cannot be seen directly but can be inferred by its influence on the universe's expansion. It is believed to make up 68% of the total energy of the universe.</div>
            </details>
            <details>
              <summary>
                <span class="accordion-title">What is the cosmic horizon?</span>
                <span class="accordion-icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 9l6 6l6 -6" />
                  </svg></span>
              </summary>
              <div class="accordion-content">The cosmic horizon is the farthest limit that can be seen from Earth. It is the most distant point visible due to the universe's expansion and the speed of light. All stars and galaxies beyond this point are beyond human sight.</div>
            </details> -->
        </div>
        <!-- FAQ END HERE -->
        <!-- Footer Start -->
        {% include "components/footer.html" %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/faq_script.js"></script>
</body>

</html>