<!DOCTYPE html>
<html lang="en">

{% include "components/header.html" %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        {% include "components/navbar.html" %}

        <div class="container-xxl bg-primary hero-header">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-8 text-center text-lg-start">
                        <h1 style="line-height: 3rem;" class="text-white mb-4 animated zoomIn">We are TheElevateMarketing, boosting
                            rappers and influencers
                            with powerful branding
                            and digital marketing.</h1>
                        <!-- <p class="text-white pb-3 animated zoomIn">Tempor rebum no at dolore lorem clita rebum rebum ipsum rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit justo amet ipsum vero ipsum clita lorem</p> -->
                        <a href="./#about" class="fixed-btn btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Learn More About Us</a>
                        <a href="./plans" class="fixed-btn btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Explore Plans</a>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- About Start -->
         {% include "components/about.html" %}
        <!-- About End -->


        <!-- Newsletter Start -->
        <div class="container-xxl bg-primary my-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <h3 class="text-white">Ready to get started</h3>
                        <small class="text-white">Enter your email and out team will approach you.</small>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->


        <!-- Service Start -->
        {% include "./components/services.html" %}
        <!-- Service End -->


        <!-- Features Start -->
        {% include "components/features.html"%}
        
        <!-- Features End -->


        <!-- Client Start -->
        <div id="clients" class="container-xxl bg-primary my-6 py-5 wow fadeInUp" data-wow-delay="0.1s">
            
        </div>
        <!-- Client End -->


        <!-- Testimonial Start -->
        {% include "components/home/testimonials.html" %}
        
        <!-- Testimonial End -->


        <!-- Previous results Start -->
        <div class="container-xxl py-6">
            <div class="container">
                
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <!-- <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Team</div> -->
                    <h2 class="mb-5">Previous Results</h2>
                </div>
                <div class="container">
                    <div class="owl-carousel client-carousel">
                        <a href="#"><img class="market-image" src="../static/images/home/one.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/two.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/three.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/four.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/five.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/six.png" alt=""></a>
                        <a href="#"><img class="market-image" src="../static/images/home/seven.png" alt=""></a>
                    </div>
                </div>
                <!-- <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <h5>Full Name</h5>
                            <p class="mb-4">Designation</p>
                            <img class="img-fluid rounded-circle w-100 mb-4" src="../static/images/team-1.jpg" alt="">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item">
                            <h5>Full Name</h5>
                            <p class="mb-4">Designation</p>
                            <img class="img-fluid rounded-circle w-100 mb-4" src="../static/images/team-2.jpg" alt="">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item">
                            <h5>Full Name</h5>
                            <p class="mb-4">Designation</p>
                            <img class="img-fluid rounded-circle w-100 mb-4" src="../static/images/team-3.jpg" alt="">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="team-item">
                            <h5>Full Name</h5>
                            <p class="mb-4">Designation</p>
                            <img class="img-fluid rounded-circle w-100 mb-4" src="../static/images/team-4.jpg" alt="">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- Previous Results End -->
        

        <!-- Footer Start -->
        {% include "components/footer.html" %}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/counter.js"></script>
</body>

</html>