<!DOCTYPE html>
<html lang="en">

{% include "components/header.html"%}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        {%include "components/navbar.html"%}
        <!-- Navbar & Hero End -->


        <!-- Service Start -->
        <div class="page-banner">
            <h1>{{name}}</h1>
        </div>
        <!-- Service End -->
         <!-- {% for service in services%}
         <div>
            <div class="accordion-container">
                <div class="accordion-content">{{service.textContent}}</div>
            </div>

            <div class="container">
                <div class="owl-carousel client-carousel">
                    {%for image in service.images%}
                    <a href="#"><img class="market-image" src={{image}} alt=""></a>
                    {%endfor%}
                </div>
            </div>
         </div>
         {%endfor%} -->

         {%include "components/myservice/spotify.html"%}
        <!-- Footer Start -->
        {%include "components/footer.html"%}
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/faq_script.js"></script>
</body>

</html>