<div class="wrapper">
    <div class="counter-container">
      <!-- <i class="fas fa-utensils"></i> -->
      <span class="num" data-val="400">000</span>
      <span class="counter-text">Meals Delivered</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-smile-beam"></i> -->
      <span class="num" data-val="340">000</span>
      <span class="counter-text">Happy Customers</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-list"></i> -->
      <span class="num" data-val="225">000</span>
      <span class="counter-text">Menu Items</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-star"></i> -->
      <span class="num" data-val="280">000</span>
      <span class="counter-text">Five Stars</span>
    </div>
</div>