<div class="wrapper">
    <div class="counter-container">
      <!-- <i class="fas fa-utensils"></i> -->
      <span class="num" data-val="400">000</span>
      <span class="counter-text">Labels Worked with</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-smile-beam"></i> -->
      <span class="num" data-val="1094">000</span>
      <span class="counter-text">No of Streams generated</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-list"></i> -->
      <span class="num" data-val="345">000</span>
      <span class="counter-text">Editorial Playlist Placements</span>
    </div>
    <div class="counter-container">
      <!-- <i class="fas fa-star"></i> -->
      <span class="num" data-val="987">000</span>
      <span class="counter-text">Satisfied artists</span>
    </div>
</div>