<div class="container-xxl py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Services</div> -->
            <h2 class="mb-5">Why Choose Us ?</h2>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <!-- <h2 class="mb-4">Why People Choose Us? We Are Trusted & Award Winning Agency</h2> -->
                <p>At TheElevateMarketing, we combine artistry with innovation to amplify your digital presence. We don't just manage your social media; we transform your vision into a powerful digital brand. Our proven track record includes working with top artists, generating millions of streams, and achieving significant growth. Our tailored approach ensures steady and authentic results.</p>
                <p>Our commitment to excellence and personalized strategies sets us apart. With over 1463 satisfied artists and a reputation for delivering measurable success, we are dedicated to your growth and success.</p>
            </div>
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-cubes text-white"></i>
                            </div>
                            <h6 class="mb-0">Best In Industry</h6>
                        </div>
                        <span>We have worked with 127 labels, generated 199 million streams, and secured 309 editorial playlist placements. Our expertise and proven strategies set us apart.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-percent text-white"></i>
                            </div>
                            <h6 class="mb-0">99% Success Rate</h6>
                        </div>
                        <span>Our clients consistently see impressive results. With 1463 satisfied artists, our tailored growth strategies deliver real and measurable success.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-bullhorn text-white"></i>
                            </div>
                            <h6 class="mb-0">Innovative Strategies</h6>
                        </div>
                        <span>We employ cutting-edge techniques and creative strategies to ensure your brand stands out. Our innovative approach helps you reach and engage your audience effectively, setting you apart in a crowded digital space.</span>
                    </div>
                    
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-smile-beam text-white"></i>
                            </div>
                            <h6 class="mb-0">100% Happy Clients</h6>
                        </div>
                        <span>We pride ourselves on client satisfaction. Our personalized approach ensures that every client is not only satisfied but thrilled with their results.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-user-tie text-white"></i>
                            </div>
                            <h6 class="mb-0">Professional Advisors</h6>
                        </div>
                        <span>Our team of experts brings deep industry knowledge and hands-on experience to every project. We provide strategic guidance and support to help you achieve your goals.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-headset text-white"></i>
                            </div>
                            <h6 class="mb-0">24/7 Customer Support</h6>
                        </div>
                        <span>We are here for you around the clock. Our dedicated support team is always available to address your concerns and provide assistance whenever you need it.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>