<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0">TheElevate</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="./" class="nav-item nav-link active">Home</a>
                <a href="./#about" class="nav-item nav-link">About</a>
                <a href="./#clients" class="nav-item nav-link">Clients</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                    <div class="dropdown-menu m-0">
                        <a href="./spotify-services" class="dropdown-item">Spotify Services</a>
                        <a href="./youtube-services" class="dropdown-item">Youtube Services</a>
                        <a href="./soundcloud-services" class="dropdown-item">Sound Cloud Services</a>
                        <a href="./applemusic-services" class="dropdown-item">Apple Music Services</a>
                        
                    </div>
                </div>
                <a href="./plans" class="nav-item nav-link">Pricng Plans</a>
                <a href="./faq" class="nav-item nav-link">FAQ</a>
                <a href="./refund-policy" class="nav-item nav-link">Refund Policy</a>
                <a href="./contact" class="nav-item nav-link">Contact</a>
            </div>
            <!-- <a href="" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Free Quote</a> -->
        </div>
    </nav>
</div>
