<div id="services" class="container-xxl py-6">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Services</div> -->
            <h2 class="mb-5">Our Services</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-spotify fs-1"></i>
                           
                        </div>
                        <div>
                            <h5>Spotify Growth+Markeing</h5>
                        </div>
                    
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Enhance your presence on Spotify with strategic marketing. We drive engagement, boost streams, and grow your fanbase. Maximize your reach and impact.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-apple fs-1"></i>
                        </div>
                        <div>
                            <h5>Apple Music Growth</h5>
                        </div>
                        
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Expand your influence on Apple Music with targeted campaigns. Increase plays, followers, and visibility. Elevate your music career with our expertise.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-youtube fs-1"></i>
                        </div>
                        <div>
                            <h5>YouTube Growth</h5>
                        </div>
                        
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Accelerate your YouTube channel's growth. We optimize your content, increase views and subscribers, and enhance your online presence. Reach new heights.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-tiktok fs-1"></i>
                        </div>
                        <div>
                            <h5>TikTok Growth</h5>
                        </div>
                        
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Boost your TikTok following with creative strategies. Gain followers, increase engagement, and make your content viral. Stand out on TikTok with our help.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-graph-up-arrow fs-1"></i>
                        </div>
                        <div>
                            <h5>Brand Growth</h5>
                        </div>
                        
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Strengthen your brand with our growth strategies. Enhance your identity, engage your audience, and expand your market reach. Achieve brand excellence.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded h-100">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="service-icon">
                            <i class="bi bi-music-note-beamed fs-1"></i>
                        </div>
                        <div>
                            <h5>Music Growth</h5>
                        </div>
                        
                    </div>
                    <div class="p-5">
                        <!-- <h5 class="mb-3">Spotify Growth+Marketing</h5> -->
                        <span>Develop your music career with our growth solutions. Increase your audience, enhance your sound, and gain industry recognition. Take your music to the next level.</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>